:root {
  --main: red;
  --links: #007BA7;
  --border: #555;
  --select: #98B4D4;

  --touches: #007BA7;
  --detonate: rebeccapurple;
}

p {
  text-align: justify;
}

::selection {
  background: var(--select);
  color: black;
}

a {
  color: var(--links);
  text-decoration: none;
}

a:hover {
  color: var(--border);
  text-decoration-color: var(--detonate);
}


html {
  font-size: 62.5%;
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

body {
  font-size: 1.6rem;
  color: black;
}

header {
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav {
  display: flex;
}

nav a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid black;
  font-size: 1.2rem;
  color: var(--bordercl);
}

.separator {
  margin-left: 0.75em;
  margin-right: 0.75rem;
  border: 1px solid;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: var(--bordercl);
}

.logo a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

/* Publications */
.publication .series {
  font-weight: 600;
}
.publication .title {
  font-style: normal;
  font-weight: 600;
}
.publication .metadata .author.hg {
  font-weight: 500;
}
.publication .abstract {
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: var(--detonate) solid 1px;
}
.publication .abstract > p:first-child {
  margin-top: 0;
}
.publication .abstract > p:last-child {
  margin-bottom: 0;
}
.publication summary:hover {
  cursor: pointer;
  color: var(--border);
} 


@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: block;
    line-height: 1.6;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    margin: 4.2rem 0;
  }
  nav {
    margin: 0 auto 3rem;
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
  nav a {
    display: inline;
    margin: 0 0.6rem;
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  header {
    margin: 0 0 3rem;
    padding: 1.2rem 0;
  }
  nav {
    margin: 0;
    text-align: right;
  }
  nav a {
    margin: 0 0 0 1.2rem;
    display: inline;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}