---
layout: default
inlineCSS: >-
  .line > span:last-child {
    float: right;
  }
  .header {
    text-align: center;
  }

  ul {
    margin: 0 0 1em;
    padding-left: 1.7rem;
  }

  ul > li::marker {
    content: "*  ";
    font-weight: 700;
  }

  ul ul > li::marker {
    content: "‣  ";
    font-weight: 400;
  }


  .box-link {
    color: var(--links);
    background-color: color-mix(in srgb, var(--links) 20%, transparent);
    font-weight: 200;
    text-decoration: none;
    padding: 0px 4px;
    border-radius: 4px;
  }
---

<!-- Education -->
<div class="card">
  <h2 class="header">Education</h2>

  {% for position in site.data.cv.education %}
    <div class="line-with-icon">
      <img src="/images/favicons/{{ position.logo }}" class="favicon" alt="{{ position.name }} Logo">
      <div class="entry">
        <div class="line">
          <span><b>{{ position.name }} ({{ position.country }})</b></span>
          <span><b>{{ position.date }}</b></span>
        </div>
        <div class="line">
          {{ position.title }}
        </div>
        {% if position.thesis %}
          <div class="line">
            Thesis: {{ position.thesis }}
          </div>
        {% endif %}
        <div class="line">
          Advisor: {{ position.advisor }}
        </div><br>
      </div>
    </div>
  {% endfor %}
</div>

<!-- Publications -->
<br>
<div class="card">
  <h2 class="header">Publications</h2>

  <article class="publication" style="padding-left: 26px;">
    {% for year in site.data.publications %}
      {% for pub in year[1] %}
        <span class="series">[{{ pub.acronym }}]</span>
        <cite class="title">
          <a href="{{ pub.DOI }}">{{ pub.title }}</a>
        </cite>
        <div class="metadata">
          {% assign formatted_authors = "" %}
            {% for author in pub.authors %}
              {% if author == "Andrea Gilot" %}
                {% assign formatted_authors = formatted_authors | append: "<b>" | append: author | append: "</b>" %}
              {% else %}
                {% assign formatted_authors = formatted_authors | append: author %}
              {% endif %}
              {% unless forloop.last %}
                {% assign formatted_authors = formatted_authors | append: "||" %}
              {% endunless %}
            {% endfor %}

            <div class="authors">
              {{ formatted_authors | split: "||" | array_to_sentence_string }}
            </div>
        </div>
        <details>
          <summary>Abstract</summary>
          <div  class="abstract">
            {{ pub.abstract }}
          </div>
        </details>
        {% endfor %}
      {% endfor %}
  </article>
</div>

<!-- Work Experience -->
<br>
<div class="card">
  <h2 class="header">Work Experience</h2>
  {% for position in site.data.cv.work %}
    <div class="line-with-icon">
      <img class="favicon" src="/images/favicons/{{ position.logo }}" alt="{{ position.name }} Logo">
      <div class="entry">
        <div class="line">
          <span><b>{{ position.position }}</b>, <i>{{ position.company }}</i></span>
          <span style="float: right"><b>{{ position.date }}</b></span>
        </div>
        {% if position.supervisor %}
        Supervised by {{ position.supervisor }}<br>
        {% endif %}
        <p>
          {{ position.description }}
        </p>
      </div>
  </div>
  {% endfor %}
</div>

<!-- Teaching -->

<br>
  <div class="card">
    <h2 class="header">Teaching</h2>
    <div class="line-with-icon">
      <img class="favicon" src="/images/favicons/uppsala-favicon.png" alt="Uppsala University Logo">
      <div class="entry">
        <b>Thesis supervision</b>,<i> Uppsala University</i>
        <br>
        <div>
          <ul class="theses">
            {% for degree in site.data.cv.theses %}
              <li>
                {{ degree.category | capitalize }} theses:
                <ul>
                  {% for thesis in degree.list %}
                  <li>
                    {{ thesis.student }} - <i>{{ thesis.title }}</i>
                    {% if thesis.cosupervisor %}
                      (co-supervised with
                          {% assign p = site.data.people[thesis.cosupervisor] %}
                          {%- if p.webpage -%}
                            <a href="{{ p.webpage }}">{{ p.name }}</a>
                          {%- else -%}
                            {{ p.name }}
                          {%- endif -%}
                      )
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <br>

    {% for position in site.data.cv.teaching %}
      <div class="line-with-icon">
        <img class="favicon" src="/images/favicons/{{ position.logo }}" alt="{{ position.institution }} Logo">
        <div class="entry">
          <b>{{ position.position }}</b>,<i> {{ position.institution }}</i>
          <br>
          <div>
            <ul>
              {% for course in position.courses %}
              <li>{{ course.code }} {{ course.title }} ({{ course.years | join: ", " }})</li>
              {% endfor %}
            </ul>
            </div>
        </div>
      </div>
      <br>
    {% endfor %}
    
  </div>

<!-- Past Projects -->
<!-- <br>
<div>
  <h2 class="header">Past Projects</h2>

  <div>
    <div class="line">
      <span><b>Verified System F interpreter in Stainless</b></span>
      <span><a href="https://github.com/Ef55/stainless-stlc" class="box-link">Repository</a></span>
    </div>
    <p>
      Verified typechecker and interpreter for System F in Scala. The software is verified with <a href="https://github.com/epfl-lara/stainless">Stainless</a>, a verification framework for Scala.
      Properties of the calculus such as progress, preservation and type derivation uniqueness are proved.
      This used to be the second largest project ever verified with Stainless. It is still used as a benchmark, as part of <a href="https://github.com/epfl-lara/bolts/">Bolts</a>.
    </p>
  </div> -->
