name: Deploy Hakyll Website

on:
  workflow_dispatch: {}
  push:
    branches:
      - main # Trigger the workflow on pushes to the main branch

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pages: read
    steps:
      # Step 1: Check out the repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # Step 2: Set up Haskell environment with Stack
      - name: Set up Haskell with Stack
        uses: haskell/actions/setup@v1
        with:
          stack-version: "latest"
          enable-stack: true

      # Step 3: Install dependencies and build the site
      - name: Install dependencies and build site
        run: |
          stack setup
          stack build
          stack exec site build
        
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./_site"

  deploy:
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.deployment.outputs.page_url}}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4